.navbar {
 box-shadow: inset 0 0 15px rgba(29, 116, 128, 1);
 background-color: rgba(50, 184, 198, 1);
 color: rgb(0, 0, 0);
 padding: 10px;
 margin: 15px auto;
 border-radius: 5px;
 width:75% ;
 text-align: center;
 font-size: large;
 
}

.welcomebox {
 box-shadow: inset 0 0 15px rgba(29, 116, 128, 1);
 background-color: rgba(50, 184, 198, 1);
 color: rgb(0, 0, 0);
 padding: 10px;
 margin: 15px auto;
 border-radius: 5px;
 width:75% ;
 text-align: center;
}

.Notices {
 box-shadow: inset 0 0 15px rgba(29, 116, 128, 1);
 background-color: rgba(50, 184, 198, 1);
 color: rgb(0, 0, 0);
 padding: 10px;
 margin: 15px auto;
 border-radius: 5px;
 width:75% ;
}

.Attendence {
 box-shadow: inset 0 0 15px rgba(29, 116, 128, 1);
 background-color: rgba(50, 184, 198, 1);
 color: rgb(0, 0, 0);
 padding: 10px;
 margin: 15px auto;
 border-radius: 5px;
 width:75% ;
 text-align: center;
}

body {
    background-color: #21808d; /* dark blue */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
