.navbar {
background-color: #30abd4; /* dark blue */
color: rgb(0, 0, 0);
padding: 10px;
margin: 20px auto;
 border-radius: 5px;
 width:75% ;
 text-align: center;
}

.welcomebox {
 background-color: #30abd4; /* dark blue */
color: rgb(0, 0, 0);
padding: 10px;
margin: 20px auto;
 border-radius: 5px;
 width:75% ;
 text-align: center;
}
