* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    width: 100%;
background-color: #30abd4; /* dark blue */
color: white;
padding: 10px;
text-align: center;
margin-bottom: 20px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar h1 {
    font-size: 22px;
    letter-spacing: 1px;
}

form {
    margin-top: 60px;
    background: #ffffff;
    padding: 40px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.password {
    margin-bottom: 20px;
}

.username {
background-color: #0e141d;
margin: 10px auto;
padding: 10px;
width: 80%;
border-radius: 5px;
box-shadow: 0 0 10px rgba(32, 32, 32, 0.5);
align-items: center;
}
 .password {
background-color: #3879da;
margin: 10px auto;
padding: 10px;
width: 80%;
border-radius: 5px;
box-shadow: 0 0 10px rgba(32, 32, 32, 0.5);
align-items: center;
 }


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccd1d9;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #1f3c88;
    outline: none;
    box-shadow: 0 0 5px rgba(31, 60, 136, 0.3);
}

.submit {
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f3c88;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #162d66;
}
