.navbar{
 background-color: rgb(209, 238, 238);
 margin: 20px auto;
 padding: 5px ;
 width: 70%;
 border-radius: 5px;
 box-shadow: inset 0 0 10px rgba(0, 128, 0, 0.5);
 text-align: center;
}

.logout-box{
 background-color: rgb(209, 238, 238);
 margin: 20px auto;
 padding: 10px ;
 width: 70%;
 border-radius: 5px;
 box-shadow: inset 0 0 10px rgba(0, 128, 0, 0.5);
 align-items: center;
 text-align: center;
}

.Add_Notices{

}

.Mark_Attendence{

}

.Notices{

}

.Attendence{
    
}
