
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Student Dashboard</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='stylestudent.css') }}">
</head>
<body>
    <nav class="navbar">
  <h1>student dashboard</h1>
    </nav>
    <div class="welcomebox">
       <h2>Welcome, {{ user_info[0] }} (Roll: {{ user_info[1] }})</h2>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="Notices">
    <h3>Notices</h3>
    <ul>
        {% for notice in notices %}
            <li><strong>{{ notice[0] }}</strong>: {{ notice[1] }} ({{ notice[2] }})</li>
        {% endfor %}
    </ul>
    </div>

    <div class="Attendence">
    <h3>Attendance</h3>
  <table border="1">
        <tr><th>Date</th><th>Status</th></tr>
        {% for record in attendance %}
            <tr><td>{{ record[0] }}</td><td>{{ record[1] }}</td></tr>
        {% endfor %}
    </table>
    </div>
    
</body>
</html>
