.navbar {
	background-color: #30abd4; /* dark blue */
	color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.navbar h1 {
	margin: 0;
}
.username {
	background-color: #3879da;
	margin: 10px auto;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(32, 32, 32, 0.5);
	align-items: center;
}
